@import 'modules/_vars';
@import 'modules/_main';
@import 'modules/_header';
@import 'modules/_login';
@import 'modules/_users';
@import 'modules/_adultkids';
@import 'modules/_home';



.elipse-usersss {
    background-color:black;
    height: 50px;
    width: 50px;
    text-align: center;
    border-radius: 50%;
    line-height: 48px;
    font-weight: bold;
    color: white;
}
/* CONTENT */

#content {
    height: 1000px;
    // background-color: #191919;
}

.contentTitle {
    padding-top: 15px;
}

/* MOVIE INFO */

.movieInfo {
    padding-top: 20px;
}

.movieInfo img {
    width: 100%;
    height: auto;
}

.infoTitle {
    font-size: 24px;
}

.infoYear {
    font-size: 16px;
    padding-top: 2px;
}

.infoRuntime {
    font-size: 16px;
    padding-top: 2px;
}

.infoDesc {

}

.infoCast {
    color: #949494;
}

.libraryButton {
    padding: 2px 24px 2px 24px;
    background-color: #242424;
    border: none;
    color:#fafafa;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

/* MOVIE INFO DESKTOP */

@media only screen and (min-width: 1024px) {

    .infoTitle {
        font-size: 32px;
    }
    
    .infoYear {
        font-size: 24px;
        padding-top: 8px;
        text-align: right;
    }
    
    .infoRuntime {
        font-size: 24px;
        padding-top: 8px;
        text-align: left;
    }
    
    .infoDesc {
        font-size: 20px;
    }
    
    .infoCast {
        font-size: 20px;
    }

    .libraryButton {
        font-size: 24px;
    }

}

.scroll {
    overflow: auto;
    white-space: nowrap;
}

.library {
    margin-top: 16px;
    h2 {
        font-size: 20px;
        margin-left: 9px;
        color: black;
    }
}

.my-list-scroll {
    display: inline-block;
    padding: 10px 0 22px 0;
    margin-right: 8px;
    img {
        background-color: white;
        height: 141px;
        width: 305px;
        border-radius: 12px;
        box-shadow: 10px 4px 16px rgba(69, 91, 99, 0.16);
        //border: 1px solid black;
    }
}

.my-list-scroll:first-child {
    margin-left: 9px;
}

.media-scroll {
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 22px;
    margin-right: 8px;
    
    img {
        height: 160px;
        width: 120px;
        border-radius: 12px;
        box-shadow: 10px 4px 16px rgba(69, 91, 99, 0.16);
    }
}

.media-scroll:first-child {
    margin-left: 9px;
}

.genres-scroll {
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 22px;
    margin-right: 8px;
    img {
        height: 330px;
        width: 330px;
        border-radius: 12px;
        box-shadow: 10px 4px 16px rgba(69, 91, 99, 0.16);
    }
}
.genres-scroll:first-child {
    margin-left: 8px;
}