.scroll {
    overflow: auto;
    white-space: nowrap;
}

.library {
    margin-top: 16px;
    h2 {
        font-size: 20px;
        margin-left: 9px;
        color: $black;
    }
}

.my-list-scroll {
    display: inline-block;
    padding: 10px 0 22px 0;
    margin-right: 8px;
    img {
        background-color: white;
        height: 141px;
        width: 305px;
        border-radius: 12px;
        box-shadow: 10px 4px 16px rgba(69, 91, 99, 0.16);
        //border: 1px solid black;
    }
}

.my-list-scroll:first-child {
    margin-left: 9px;
}

.media-scroll {
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 22px;
    margin-right: 8px;
    img {
        height: 160px;
        width: 120px;
        border-radius: 12px;
        box-shadow: 10px 4px 16px rgba(69, 91, 99, 0.16);
    }
}

.media-scroll:first-child {
    margin-left: 9px;
}

.genres-scroll {
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 22px;
    margin-right: 8px;
    img {
        height: 330px;
        width: 330px;
        border-radius: 12px;
        box-shadow: 10px 4px 16px rgba(69, 91, 99, 0.16);
    }
}
.genres-scroll:first-child {
    margin-left: 8px;
}

#home-menu {
    background-color: $black;
    padding: 20px;
    ul {
        float: left;
        list-style-type: none;
        padding-left: 20px;
    }
    span{ 
        color: $purple;
        font-weight: bold;
        font-size: 24px;
        cursor: pointer;
    }
}

#play-bttn {
    height: 40px;
    width: 70px;
    border: none;
    border-radius: 3px;
    background-color: $purple;
    color: white;
    cursor: pointer;
}

.lightbox {
    display: none;
    position: fixed;
    z-index: 1;
    top: 0px;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.95);
    text-align: center;
    color: white;
    left: 0;
    right: 0;
    span {
        position: absolute;
        top: 20px;
        right: 20px;
        color: white;
        font-size: 20px;
        cursor: pointer;
    }

    audio, video {
        margin-top: 100px;
    }
}

.show-lightbox {
    display: block;
    opacity: 1; 
  }