.profileHeading {
    text-align: center;
    padding: 20px 0px 60px 0px;
}

.user-cont {
    span {
        text-align: center;
    }
    p {
        font-size: 24px;
    }
}

.user-icon {
    margin: 0 auto;
    background-color: white;
    color: $purple;
    height: 100px;
    width: 100px;
    margin-bottom: 30px;
    border-radius: 50%;
    font-size: 50px;
    font-weight: bold;
    line-height: 98px;
}

.profileIcon {
    margin: 0 auto;
}
/* CHOOSE PROFILE - TABLET */

@media only screen and (min-width: 768px) {

    .profileIcon {
        width: 9vw;
        height: auto;
    }

    #profiles h3 {
        font-size: 24px;
    }

}

/* CHOOSE PROFILE - DESKTOP */

@media only screen and (min-width: 1328px) {

    .profileIcon {
        width: 11vw;
        height: auto;
    }

    #profiles h3 {
        font-size: 32px;
    }
}